*.o
*.dSYM
__pycache__/
.idea/
.DS_Store
dist/
*.egg-info/
build/
.cache

tests/uai/MAR_prob/*.dfg
tests/plots
plots/
libdai/Makefile.conf
libdai/lib/libdai.a
libdai/utils/createfg
libdai/utils/dfgmarg
libdai/utils/fg2dot
libdai/utils/fginfo
libdai/utils/uai2fg
libdai/utils/viewfg

